[submodule "plugins/dockerproject"]
	path = plugins/dockerproject
	url = https://github.com/ustcmirror/docker-apt_dockerproject
[submodule "plugins/infinality-bundle"]
	path = plugins/infinality-bundle
	url = https://github.com/ustcmirror/docker-infinality-bundle.git
