[submodule "plugins/dockerproject"]
	path = plugins/dockerproject
	url = https://github.com/ustcmirror/docker-apt_dockerproject
[submodule "plugins/cratesmirror"]
	path = plugins/cratesmirror
	url = https://github.com/ustcmirror/lug-cratesmirror
